* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.info__text {
  max-width: 305px;
  width: 100%;
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

.header {
  padding: 0 150px;
  color: #ffffff;
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.header__inner .nav .list {
  display: flex;
  gap: 51px;
  cursor: pointer;
}
.header__inner .nav .list__item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}
.header__button {
  border: 1px solid #ffffff;
  border-radius: 39px;
  padding: 18px 46px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.header__button:hover {
  color: #112d57;
  background-color: #ffffff;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.header .welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 0 85px;
}
.header .welcome-section__title {
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.2px;
}
.header .welcome-section__text {
  margin-bottom: 71px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #e5e5e5;
}
.header .welcome-section__buttons {
  display: flex;
  gap: 13px;
}
.header .welcome-section__buttons .button {
  border: 1px solid #ffffff;
  border-radius: 39px;
  padding: 18px 46px;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.header .welcome-section__buttons .button:hover {
  color: #112d57;
  background-color: #ffffff;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.header .welcome-section__img {
  max-width: 1020px;
  width: 100%;
}

main {
  margin: 0 120px;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}
.info-section__title {
  max-width: 765px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
}
.info-section__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
  margin: 50px 0;
}
.info-section__block {
  padding: 40px 50px;
  max-width: 404px;
  width: 100%;
  min-height: 440px;
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.info-section__block svg {
  margin-bottom: 40px;
}
.info-section__block-title {
  min-width: 300px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
}
.info-section__block-text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}
.info-section__block-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #03d6f3;
}
.info-section__block:hover {
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
}
.info-section__block:hover svg path {
  fill: white;
}
.info-section__block:hover .info-section__block-title,
.info-section__block:hover .info-section__block-text,
.info-section__block:hover .info-section__block-link {
  color: white;
}

.process-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
  gap: 108px;
}
.process-section__description {
  display: flex;
  flex-direction: column;
}
.process-section__title {
  max-width: 495px;
  width: 100%;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.process-section__buttons {
  display: flex;
  gap: 22px;
}
.process-section__button {
  align-items: center;
  padding: 18px 46px;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03d6f3;
  border-radius: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: white;
  transition: 0.2s;
}
.process-section__button:hover {
  background: #ffffff;
  border: 1px solid #30d7ba;
  color: #30d7ba;
}
.process-section__img {
  max-width: 516px;
  width: 100%;
}

.operation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
  gap: 108px;
}
.operation-section__description {
  display: flex;
  flex-direction: column;
}
.operation-section__title {
  max-width: 524px;
  width: 100%;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.operation-section__button {
  max-width: 205px;
  width: 100%;
  align-items: center;
  padding: 18px 46px;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03d6f3;
  border-radius: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: white;
  transition: 0.2s;
}
.operation-section__button:hover {
  background: #ffffff;
  border: 1px solid #30d7ba;
  color: #30d7ba;
}
.operation-section__img {
  max-width: 516px;
  width: 100%;
}

.solution-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
  gap: 70px;
}
.solution-section__description {
  display: flex;
  flex-direction: column;
}
.solution-section__title {
  max-width: 375px;
  width: 100%;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.solution-section__buttons {
  display: flex;
  gap: 10px;
}
.solution-section__button {
  align-items: center;
  padding: 18px 46px;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03d6f3;
  border-radius: 39px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: white;
  transition: 0.2s;
}
.solution-section__button:hover {
  background: #ffffff;
  border: 1px solid #30d7ba;
  color: #30d7ba;
}
.solution-section__img {
  max-width: 762px;
  width: 100%;
}

.order-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
}
.order-section__title {
  max-width: 675px;
  width: 100%;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.order-section__text {
  max-width: 475px;
  width: 100%;
  margin-bottom: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}
.order-section__plans {
  display: flex;
  gap: 33px;
}
.order-section__plans__item {
  padding: 40px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.order-section__plans__item__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
}
.order-section__plans__item__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}
.order-section__plans__item__img {
  max-width: 259px;
  width: 100%;
  margin-bottom: 30px;
}
.order-section__plans__item .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 38px;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.2px;
  color: #30d7ba;
}
.order-section__plans__item .price__description {
  display: flex;
  flex-direction: column;
}
.order-section__plans__item .price__description-mark {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}
.order-section__plans__item__list {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: center;
}
.order-section__plans__item__list .list-item {
  margin-bottom: 20px;
}
.order-section__plans__item__list .list-unabled {
  margin-bottom: 20px;
  color: #5c5c5c;
}
.order-section__plans__item__button {
  width: 100%;
  align-items: center;
  padding: 18px 46px;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03d6f3;
  border-radius: 39px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: white;
  transition: 0.2s;
}
.order-section__plans__item__button:hover {
  background: #ffffff;
  border: 1px solid #30d7ba;
  color: #30d7ba;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 123px;
}
.subscribe-section__title {
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.subscribe-section__text {
  margin-bottom: 69px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}
.subscribe-section__email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 113px;
  gap: 10px;
}
.subscribe-section__email__input {
  padding: 14px 84px 14px 28px;
  background: #efefef;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}
.subscribe-section__email__button {
  align-items: center;
  padding: 18px 46px;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #03d6f3;
  border-radius: 39px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: white;
  transition: 0.2s;
}
.subscribe-section__email__button:hover {
  background: #ffffff;
  border: 1px solid #30d7ba;
  color: #30d7ba;
}

.footer {
  display: flex;
  align-items: center;
  padding: 62px 86px;
  gap: 10px;
  background: #112d57;
  color: #ffffff;
}
.footer__items-price {
  margin: 88px 0 66px 228px;
  border-spacing: 75px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
.footer__items-text {
  margin: 0 0 78px 304px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.footer__map-img {
  margin: 62px 95px 62px 45px;
  max-width: 334px;
  width: 100%;
  border-radius: 22px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts__adress, .footer__contacts__phone {
  display: flex;
  margin-bottom: 22px;
  gap: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
}
.footer__contacts__social-items {
  display: flex;
  margin-top: 22px;
  gap: 33px;
}/*# sourceMappingURL=index.css.map */